XML-SQL/XML/XmlPad/schema/src/wsdl/UFXWSBasic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ufxws="http://openwaygroup.com/ufx/ws" targetNamespace="http://openwaygroup.com/ufx/ws">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:include schemaLocation="../xsd/WAY4UFX_Validation.xsd"/>
            <xs:complexType name="W4WS_ApplicationType">
                <xs:complexContent>
                    <xs:restriction base="W4M_Msg">
                        <xs:sequence>
                            <xs:element name="MsgId" type="W4D_MsgId">
                                <xs:annotation>
                                    <xs:appinfo>Message identifier. This identifier may be used by message sender for extended matching response messages with requests. It is recommended to generate value for this element basing on an "Universally Unique IDentifier (UUID) URN Namespace", RFC 4122 specification. This RFC may be downloaded from http://www.ietf.org/rfc/rfc4122.txt.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ChainMsgId" type="W4D_MsgId" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Chain message Identifier. It is used in sequential messages to place the MsgId of the previous message. The format is the same as for MsgId.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExtRefSet" type="W4C_RefSet" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>External Reference Numbers. It is used as an additional identifier of a message</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:sequence>
                                <xs:element name="Source" type="W4M_Source">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that created the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Transit" type="W4M_Router" minOccurs="0" maxOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Transit Client Applications </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Target" type="W4M_Router" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that will process the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                            <xs:element name="MsgData">
                                <xs:annotation>
                                    <xs:appinfo>Message Data. Contains a request of the application layer</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:restriction base="W4M_MsgData">
                                            <xs:choice>
                                                <xs:element name="Application" type="W4T_Application" minOccurs="0"/>
                                            </xs:choice>
                                        </xs:restriction>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MsgAuth" type="W4M_MsgAuth" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Message Authentication information. For details, see section "Security"in the UFX specification.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="msg_type" type="W4D_Code" use="required" fixed="Application">
                            <xs:annotation>
                                <xs:appinfo>Message Type. It defines the type of an application layer message. The value also defines the element which is presented in the UFXMsg/MsgData aggregate. Supported values:
Application, Information, Doc, Security, CustomerProfile, etc.
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="scheme" type="W4D_Code" use="required" fixed="WAY4Appl">
                            <xs:annotation>
                                <xs:appinfo>Scheme name. The name specifies the scheme that will be used for xml validation
Supported values:
Application  – “WAY4Appl”
Information  - “WAY4Appl”
Doc              –  “WAY4UDoc”       
Security        – “WAY4USec”
CustomerProfile – “WAY4Profile”, etc
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="W4WS_InformationType">
                <xs:complexContent>
                    <xs:restriction base="W4M_Msg">
                        <xs:sequence>
                            <xs:element name="MsgId" type="W4D_MsgId">
                                <xs:annotation>
                                    <xs:appinfo>Message identifier. This identifier may be used by message sender for extended matching response messages with requests. It is recommended to generate value for this element basing on an "Universally Unique IDentifier (UUID) URN Namespace", RFC 4122 specification. This RFC may be downloaded from http://www.ietf.org/rfc/rfc4122.txt.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ChainMsgId" type="W4D_MsgId" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Chain message Identifier. It is used in sequential messages to place the MsgId of the previous message. The format is the same as for MsgId.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExtRefSet" type="W4C_RefSet" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>External Reference Numbers. It is used as an additional identifier of a message</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:sequence>
                                <xs:element name="Source" type="W4M_Source">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that created the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Transit" type="W4M_Router" minOccurs="0" maxOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Transit Client Applications </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Target" type="W4M_Router" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that will process the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                            <xs:element name="MsgData">
                                <xs:annotation>
                                    <xs:appinfo>Message Data. Contains a request of the application layer</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:restriction base="W4M_MsgData">
                                            <xs:choice>
                                                <xs:element name="Information" type="W4T_Information" minOccurs="0"/>
                                            </xs:choice>
                                        </xs:restriction>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MsgAuth" type="W4M_MsgAuth" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Message Authentication information. For details, see section "Security"in the UFX specification.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="msg_type" type="W4D_Code" use="required" fixed="Information">
                            <xs:annotation>
                                <xs:appinfo>Message Type. It defines the type of an application layer message. The value also defines the element which is presented in the UFXMsg/MsgData aggregate. Supported values:
Application, Information, Doc, Security, CustomerProfile, etc.
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="scheme" type="W4D_Code" use="required" fixed="WAY4Appl">
                            <xs:annotation>
                                <xs:appinfo>Scheme name. The name specifies the scheme that will be used for xml validation
Supported values:
Application  – “WAY4Appl”
Information  - “WAY4Appl”
Doc              –  “WAY4UDoc”       
Security        – “WAY4USec”
CustomerProfile – “WAY4Profile”, etc
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="W4WS_ConfigurationInfoType">
                <xs:complexContent>
                    <xs:restriction base="W4M_Msg">
                        <xs:sequence>
                            <xs:element name="MsgId" type="W4D_MsgId">
                                <xs:annotation>
                                    <xs:appinfo>Message identifier. This identifier may be used by message sender for extended matching response messages with requests. It is recommended to generate value for this element basing on an "Universally Unique IDentifier (UUID) URN Namespace", RFC 4122 specification. This RFC may be downloaded from http://www.ietf.org/rfc/rfc4122.txt.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ChainMsgId" type="W4D_MsgId" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Chain message Identifier. It is used in sequential messages to place the MsgId of the previous message. The format is the same as for MsgId.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExtRefSet" type="W4C_RefSet" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>External Reference Numbers. It is used as an additional identifier of a message</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:sequence>
                                <xs:element name="Source" type="W4M_Source">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that created the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Transit" type="W4M_Router" minOccurs="0" maxOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Transit Client Applications </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Target" type="W4M_Router" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that will process the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                            <xs:element name="MsgData">
                                <xs:annotation>
                                    <xs:appinfo>Message Data. Contains a request of the application layer</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:restriction base="W4M_MsgData">
                                            <xs:choice>
                                                <xs:element name="ConfigurationInfo" type="W4T_Configuration" minOccurs="0"/>
                                            </xs:choice>
                                        </xs:restriction>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MsgAuth" type="W4M_MsgAuth" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Message Authentication information. For details, see section "Security"in the UFX specification.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="msg_type" type="W4D_Code" use="required" fixed="ConfigurationInfo">
                            <xs:annotation>
                                <xs:appinfo>Message Type. It defines the type of an application layer message. The value also defines the element which is presented in the UFXMsg/MsgData aggregate. Supported values:
Application, Information, Doc, Security, CustomerProfile, etc.
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="scheme" type="W4D_Code" use="required" fixed="WAY4Appl">
                            <xs:annotation>
                                <xs:appinfo>Scheme name. The name specifies the scheme that will be used for xml validation
Supported values:
Application  – “WAY4Appl”
Information  - “WAY4Appl”
Doc              –  “WAY4UDoc”       
Security        – “WAY4USec”
CustomerProfile – “WAY4Profile”, etc
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="W4WS_DocType">
                <xs:complexContent>
                    <xs:restriction base="W4M_Msg">
                        <xs:sequence>
                            <xs:element name="MsgId" type="W4D_MsgId">
                                <xs:annotation>
                                    <xs:appinfo>Message identifier. This identifier may be used by message sender for extended matching response messages with requests. It is recommended to generate value for this element basing on an "Universally Unique IDentifier (UUID) URN Namespace", RFC 4122 specification. This RFC may be downloaded from http://www.ietf.org/rfc/rfc4122.txt.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ChainMsgId" type="W4D_MsgId" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Chain message Identifier. It is used in sequential messages to place the MsgId of the previous message. The format is the same as for MsgId.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExtRefSet" type="W4C_RefSet" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>External Reference Numbers. It is used as an additional identifier of a message</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:sequence>
                                <xs:element name="Source" type="W4M_Source">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that created the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Transit" type="W4M_Router" minOccurs="0" maxOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Transit Client Applications </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Target" type="W4M_Router" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>Identifier of the Client Application that will process the request</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                            <xs:element name="MsgData">
                                <xs:annotation>
                                    <xs:appinfo>Message Data. Contains a request of the application layer</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:restriction base="W4M_MsgData">
                                            <xs:choice>
                                                <xs:element name="Doc" type="W4U_Doc" minOccurs="0"/>
                                            </xs:choice>
                                        </xs:restriction>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MsgAuth" type="W4M_MsgAuth" minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>Message Authentication information. For details, see section "Security"in the UFX specification.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="msg_type" type="W4D_Code" use="required" fixed="Doc">
                            <xs:annotation>
                                <xs:appinfo>Message Type. It defines the type of an application layer message. The value also defines the element which is presented in the UFXMsg/MsgData aggregate. Supported values:
Application, Information, Doc, Security, CustomerProfile, etc.
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="scheme" type="W4D_Code" use="required" fixed="WAY4Doc">
                            <xs:annotation>
                                <xs:appinfo>Scheme name. The name specifies the scheme that will be used for xml validation
Supported values:
Application  – “WAY4Appl”
Information  - “WAY4Appl”
Doc              –  “WAY4UDoc”       
Security        – “WAY4USec”
CustomerProfile – “WAY4Profile”, etc
</xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="WSInformation" type="W4WS_InformationType"/>
            <xs:element name="WSApplication" type="W4WS_ApplicationType"/>
            <xs:element name="WSDoc" type="W4WS_DocType"/>
            <xs:element name="WSConfigurationInfo"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="WSInformationMessage">
        <wsdl:part name="parameters" element="WSInformation"/>
    </wsdl:message>
      <wsdl:message name="WSDocumentMessage">
        <wsdl:part name="parameters" element="WSDoc"/>
    </wsdl:message>
    <wsdl:message name="WSApplicationMessage">
        <wsdl:part name="parameters" element="WSApplication"/>
    </wsdl:message>
     <wsdl:message name="WSConfigurationInfoMessage">
        <wsdl:part name="parameters" element="WSConfigurationInfo"/>
    </wsdl:message>
    <wsdl:portType name="UFX">
        <wsdl:operation name="UFXInformation">
            <wsdl:input message="ufxws:WSInformationMessage"/>
            <wsdl:output message="ufxws:WSInformationMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UFXApplication">
            <wsdl:input message="ufxws:WSApplicationMessage"/>
            <wsdl:output message="ufxws:WSApplicationMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UFXDocument">
            <wsdl:input message="ufxws:WSDocumentMessage"/>
            <wsdl:output message="ufxws:WSDocumentMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UFXConfigurationInfo">
            <wsdl:input message="ufxws:WSConfigurationInfoMessage"/>
            <wsdl:output message="ufxws:WSConfigurationInfoMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UFXBindingforSOAP11" type="ufxws:UFX">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UFXInformation">
            <soap:operation soapAction="urn:#UFXInformation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UFXApplication">
            <soap:operation soapAction="urn:#UFXApplication"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UFXDocument">
            <soap:operation soapAction="urn:#UFXDocument"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UFXConfigurationInfo">
            <soap:operation soapAction="urn:#UFXConfigurationInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UFXBindingforSOAP12" type="ufxws:UFX">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UFXInformation">
            <soap12:operation soapAction="urn:#UFXInformation" soapActionRequired="true"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UFXApplication">
            <soap12:operation soapAction="urn:#UFXApplication" soapActionRequired="true"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UFXDocument">
            <soap12:operation soapAction="urn:#UFXDocument" soapActionRequired="true"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UFXConfigurationInfo">
            <soap12:operation soapAction="urn:#UFXConfigurationInfo" soapActionRequired="true"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UFXWebService">
        <wsdl:port name="UFXGateway" binding="ufxws:UFXBindingforSOAP11">
            <soap:address location="http://locahost:8140/way4u_dev3/httpadapter"/>
        </wsdl:port>
        <wsdl:port name="UFXWebService" binding="ufxws:UFXBindingforSOAP12">
            <soap12:address location="http://locahost:8140/way4u_dev3/httpadapter"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
