XML-SQL/XML/XmlPad/WMHelp XmlPad/Projects/Castor/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="myNamespace" targetNamespace="myNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- This is dummy element pattern  -->
  <xs:element name="rootElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E1" type="string"/>
        <xs:element name="E2" type="string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>